.img2 {
  background-image: url("netflix.jpeg");
  margin: -8px;
  border: none;
}

.logo {
  display: flex;
  justify-content: space-between;
}
.img {
  margin-left: 150px;
  margin-top: 20px;
}
.form-select1 {
  text-align: end;
  margin-top: 20px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  border-color: white;
}
.link {
  color: white;
  text-decoration: none;
}
.lingua {
  display: flex;
  gap: 20px;
}

.button1 {
  margin-top: 20px;
  margin-right: 150px;
  font-size: 16px;
  background-color: red;
  border-radius: 5px;
  color: white;
  border-color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;

  margin-top: 200px;
}

.titolo {
  font-size: 50px;
}
.titolo1 {
  font-size: 30px;
  margin-top: -20px;
}
.paragrafo {
  font-size: 20px;
  margin-top: -10px;
}
.email {
  font-size: 1.5rem;
  color: white;
  justify-content: center;
  border-radius: 5px;
  border-color: white;
  background-color: black;
  opacity: 0.7;
  padding: 15px;
  padding-right: 150px;
}

.button2 {
  font-size: 1.5rem;
  background-color: red;
  border-radius: 5px;
  border-color: red;
  color: white;
  margin-left: 5px;
  padding: 15px;
  margin-bottom: 200px;
}

.rigacentrale1 {
  width: 100%;
  height: auto;
  background-color: gray;
  font-size: 5px;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 700px;

  margin: -8px;
}
.container3 {
  font-size: 16px;
  margin-left: -80px;
  margin-right: 70px;
}

.img3 {
  margin-left: 70px;
  margin-right: -50px;
}
.rigancentrale4 {
  width: 100%;
  height: auto;
  background-color: gray;
  font-size: 5px;
}

.container4 {
  display: flex;
  flex-direction: column row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 700px;
  margin: -8px;
}
.container5 {
  font-size: 25px;
  margin-right: 70px;
}
.container12 {
  position: absolute;
  display: flex;
  flex-direction: row;

  border: solid;
  border-radius: 10px;
  border-color: grey;
  height: 90px;
  width: 400px;
  left: 140px;
  top: 1950px;
  background-color: black;
}
.img10 {
  margin: 15px;
}
.img11 {
  margin-left: 105px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 10px;
}
.container13 {
  text-align: left;
  margin-left: 20px;
  margin-top: -20px;
  flex-grow: 0;
}
.paragrafo20 {
  color: rgb(255, 255, 255);
}

.rigancentrale6 {
  width: 100%;
  height: auto;
  background-color: gray;
  font-size: 5px;
}

.container6 {
  display: flex;
  flex-direction: column row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 700px;
  margin: -8px;
}

.container7 {
  font-size: 25px;
  margin-right: 20px;
  margin-left: 25px;
}

.rigancentrale8 {
  width: 100%;
  height: auto;
  background-color: gray;
  font-size: 5px;
}

.container8 {
  display: flex;
  flex-direction: column row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 700px;
  margin: -8px;
}

.container9 {
  font-size: 25px;
  margin-right: 20px;
  margin-left: 25px;
}

.rigancentrale10 {
  width: 100%;
  height: auto;
  background-color: gray;
  font-size: 5px;
}
.container10 {
  display: flex;
  justify-content: center;
}

.titolo6 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}
.container10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: black;
  height: 900px;
  margin: -8px;
}

.titolo6 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
.listaaiuto li {
  list-style-type: none;

  padding: 20px;
  margin: 5px;
  font-size: 1.5rem;
  color: white;
  background-color: grey;

  text-align: left;
  width: 95%;
}

.paragrafo20 {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.container11 {
  text-align: center;
}

.rigancentrale12 {
  width: 100%;
  height: auto;
  background-color: gray;
  font-size: 5px;
}
.piu1 {
  text-align: end;

  margin-top: -25px;
  margin-bottom: -10px;
  padding-bottom: 5px;
}

.piu2 {
  text-align: end;
  margin-top: -25px;
  margin-bottom: -10px;
  padding-bottom: 5px;
}
.piu3 {
  text-align: end;
  margin-top: -25px;
  margin-bottom: -10px;
  padding-bottom: 5px;
}
.piu4 {
  text-align: end;
  margin-top: -25px;
  margin-bottom: -10px;
  padding-bottom: 5px;
}
.piu5 {
  text-align: end;
  margin-top: -25px;
  margin-bottom: -10px;
  padding-bottom: 5px;
}
.piu6 {
  text-align: end;
  margin-top: -25px;
  margin-bottom: -10px;
  padding-bottom: 5px;
}
.footer {
  background-color: black;
  margin: -22px;
  height: 500px;
  color: gray;
  padding-left: 120px;
}
.titolo22 {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.footer2 {
  display: grid;
  grid-template-columns: auto auto auto;
  color: white;
  gap: 20px;
}
.footer3 {
  padding-left: 40px;
}
.footer4 {
  padding-left: 40px;
  padding-top: 20px;
}

a {
  color: gray;
}
